<div class="row mt-3">
    <div class="col-lg-6">
        <h1>Listado de comentarios</h1>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-end" routerLink="/add">Nuevo Comentario</button>
    </div>
    <table *ngIf="listComments.length > 0" class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Creador</th>
                <th>Texto</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tBody>
            <tr *ngFor="let comment of listComments">      
                <td> <a [routerLink]= "['/view', comment.id]"> {{ comment.title }} </a> </td>
                <td> {{ comment.creator }} </td>
                <td> {{ comment.text }} </td>
                <td> {{ comment.DateCreate | date: 'dd/mm/yyyy'}} </td>
                <td style="width: 10%;">
                    <button class="btn btn-primary btn-sm float-end">Editar</button>
                </td>
                <td style="width: 10%;"> 
                    <button class="btn btn-danger btn-sm float-end" (click)="deleteComment(comment.id)">Borrar</button>
                </td>
            </tr>
        </tBody>

    </table>
</div>
<div *ngIf="listComments.length == 0" class="row mt-5">
    <h5>No hay comentarios que mostrar</h5>
</div>